<p>This feature has not been implemented yet</p>

<!--
<div class="form-group">
    <form action="https://www.strava.com/oauth/token" method="post" role="form" class="form-inline">
        <div class="form-group">
            <label for="code" class="sr-only">Access Token:</label>
            <input type="text" id="txtCode" name="code" class="form-control" placeholder="Access Token Generated" />
        </div>
        <div class="form-group">
            <label for="client_id" class="sr-only">Client ID:</label>
            <input type="text" id="" name="client_id" value="8125" class="form-control" placeholder="Enter Strava Client ID" />
        </div>
        <input type="hidden" id="" name="client_secret" value="81b48815145171c381cda1fe498b349fe6c8b0ac" />
        <input type="submit" class="btn btn-default" />
        <div class="checkbox">
            <label><input type="checkbox">Remember me</label>
        </div>
    </form>
</div>
-->